/*config: elementos sin margenes ni relleno*/
html{
    font-size: 16px;
    font-family: Montserrat;
}
body{
    padding: 0px;
    margin: 0px;
}
/*Comportamiento de objetos ----- Element Behaviour*/
header{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    margin-right: 5%;
}
header nav ul li{
    display: inline-block;
    margin: 0px 20px;
}
header nav ul li a #line{
    background-color: black;
    min-height: 2px;
    margin: 0px 100%;
}
header nav ul li a:hover #line{
    margin: 0px 0px;
    transition-property: margin;
    transition-duration: 250ms;
}
/*Diseño --- Design*/

/*Navbar*/
h1.title{
    font-weight: 400;
    margin-left: 5%;
    font-size: 2rem;
}
nav ul li a{
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
/*BANNER*/
#main{
    background-image: url(/resources/mainimagedark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    height: 40rem;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: white;
}
/*PORTAFOLIO*/
section#portafolio{
    padding-top: 2rem;
    text-align: center;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#flex .card{
    margin: 2rem 5.5rem;
}
#flex img{
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 5px;
}
/*TEAM*/
section#team{
    background-image: url(/resources/officesdark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 40rem;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#team .employement{
    text-align: center;
    margin: 0px 3%;
}
section#team .employement img{
    width: 18.75rem;
    height: 18.75rem;
}
section#team .employement.smaller img{
    width: 12.5rem;
    height: 12.5rem;
}
footer{
    text-align: center;
}
/*MEDIA*/
@media only screen and (max-width: 1380px){
    section#team .employement img{
        width: 10.5rem;
        height: 10.5rem;
    }
    section#team .employement.smaller img{
        width: 5.5rem;
        height: 5.5rem;
    }
    h1.title{
        display: none;
    }
    header nav ul{
        margin: 0px auto;
        padding: 2rem 0px;
    }
    header nav ul li a{
        font-size: 1.8rem;
    }
}